/**
 * WCAG compliance for purecss
 */
:root {
  --touch-target-size: 48px;
}

.pure-button {
  min-height: var(--touch-target-size);
}
/* button.button-cancel { */
/*   color: white; */
/*   background: rgb(202, 60, 60); */
/* } */

.pure-form input[type=text],
.pure-form input[type=url],
.pure-form select,
.pure-form input:not([type]) {
  min-height: var(--touch-target-size);
}
